{% extends "base_templ.html" %}

{% block content %}

    {% if validlink %}
        <p>Пожалуйста введите и подтвердите новый пароль.</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Подтвержденме пароля:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Сменить пароль" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Ошибка сброса пароля</h1>
        <p>Ссылка сброса пароля некорректная, возможно она уже была использована. Пожалуйста, запросите сброс пароля снова.</p>
    {% endif %}

{% endblock %}