{% extends "base_templ.html" %}
<!-- Переопределение заголовка, установленного в шаблоне -->
{% block title %}<title>HomeBook Library</title>{% endblock %}

{% block content %}
<h1>Домашняя библиотечка</h1>

<p>Добро пожаловать в домашнюю библиотеку. Пробный сайт, разработанный на Django.</p>

<h3>Динамически обновляемое содержимое:</h3>

<p>В библиотеке имеется информация:</p>
<ul>
    <li><b>Книг:</b> {{ num_books }}</li>
    <li><b>Всего экземпляров:</b> {{ num_books }}</li>
    <li><b>Доступных экземпляров:</b> {{ num_availables }}</li>
    <li><b>Авторов:</b> {{ num_authors }}</li>
    
    <li><b>Различных жанров:</b> {{ num_genres }}</li>
    <li><b>Книг, содержащих слово Джордж в названии:</b> {{ num_georges_title }}</li>
</ul>

<p>Вы посетили эту страницу {% if num_visits < 2 %} впервые {% else %} {{ num_visits }} раз {% endif %}</p>

{% endblock %}
