{% extends "base_templ.html" %}

{% block content %}
  <h1>Автор: {{ author }}</h1>

  <p><strong>Автор:</strong> <a href="{% url 'author-detail' author.pk %}">{{ author }}</a></p> <!-- author detail link not yet defined -->
    <p><strong>{{ author.first_name }} {{ author.last_name }}</strong></p>
  <p><strong>Родился:</strong> {{ author.date_of_birth }}</p>
  {% if author.date_of_death %}
  <p><strong>Умер:</strong> {{ author.date_of_death }}</p>
  {% endif %}
<div style="margin-left:20px;margin-top:20px">
    <h4>Книги:</h4>
    {% for book in author.book_set.all %}
    <hr>
    <p >{{ book.title }}</p>
    {% endfor %}
  </div>
{% endblock %}