{% extends "base_templ.html" %}

{% block content %}
    <h1>Список авторов:</h1>

    {% if author_list %}
    <ul>

      {% for author in author_list %}
      <li>
        <a href="{{ author.get_absolute_url }}">{{ author }}</a> 
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>Авторы не найдены</p>
    {% endif %} 
{% endblock %}