{% extends "base_templ.html" %}

{% block content %}
  <h1>Книга: {{ book.title }}</h1>

  <p><strong>Автор:</strong> <a href="{% url 'author-detail' book.author.pk %}">{{ book.author }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>О книге:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Язык:</strong> {{ book.lang }}</p>
  <p><strong>Жанр:</strong> 
    {% for genre in book.genre.all %} 
        {{ genre }}
        {% if not forloop.last %}, 
        {% endif %}
    {% endfor %}
  </p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Имеющиеся экземпляры:</h4>

    {% for copy in book.bookinstance_set.all %}
    <hr>
    <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'd' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
    {% if copy.status != 'a' %}<p><strong>Ожидается появление:</strong> {{copy.due_back}}</p>{% endif %}
    <p><strong>Издание:</strong> {{copy.imprint}}</p>
    <p class="text-muted"><strong>№:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>
{% endblock %}